<h2 class="bold">Animations</h2>

<div class="row">
    <div class="col-md-8">
        <h3>Fade</h3> Use .fade to create a element that uses the fade-in effect.

        <ul>
            <li>.top</li>
            <li>.bottom</li>
            <li>.left</li>
            <li>.right</li>
        </ul>
    </div>
    <div class="col-md-4">
        <div class="html big no-hpadding">

            <div class="alert alert-success" role="alert"><p><h4>Delay</h4>You can use <b>delay[s/10]</b> to specify the delay time up to 5s. For example, <b>delay5</b> is 0.5 seconds, <b>delay25</b> is 2.5 seconds.</p></div>

        </div>
    </div>
</div>

<div class="docsource">
    <div class="col-md-3">
        <div class="fade top card delay5">
            <h3><b>fade</b> <b>top</b></h3>
            <p>Quis sit libero debitis atque voluptate nihil consequatur nostrum...</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="fade bottom delay10 card">
            <h3><b>fade</b> <b>bottom</b></h3>
            <p>Quis sit libero debitis atque voluptate nihil consequatur nostrum...</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="fade left delay15 card">
            <h3><b>fade</b> <b>left</b></h3>
            <p>Quis sit libero debitis atque voluptate nihil consequatur nostrum...</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="fade right delay20 card">
            <h3><b>fade</b> <b>right</b></h3>
            <p>Quis sit libero debitis atque voluptate nihil consequatur nostrum...</p>
        </div>
    </div>
    <div class="clear"></div>
</div>

<br /><br />

<h3>Rotate</h3>
<h4><b>spinner</b></h4>
<p>Use CSS to spin an element for infinite time.</p>

<div class="docsource">
    <div class="spinner">
        <span class="glyphicon glyphicon-repeat"></span>
    </div>
</div>
