<style>
    .wrap .card {
        margin-bottom: 40px;
    }
</style>

<h2 class="bold">Cards</h2>
<p>Cards can be used to wrap content in a box.</p>

<div class="wrap">
    <div class="docsource">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h4>Sample of card</h4>
                    <p>
                        Quis sit libero debitis atque voluptate nihil consequatur nostrum. Non assumenda maxime et repudiandae tenetur quisquam numquam sint. Autem odio quo eaque incidunt.…</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <h4>Sample of card</h4>
                    <p>
                        Quis sit libero debitis atque voluptate nihil consequatur nostrum. Non assumenda maxime et repudiandae tenetur quisquam numquam sint. Autem odio quo eaque incidunt.…</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <h4>Sample of card</h4>
                    <p>
                        Quis sit libero debitis atque voluptate nihil consequatur nostrum. Non assumenda maxime et repudiandae tenetur quisquam numquam sint. Autem odio quo eaque incidunt.…</p>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>.card.<b>box</b> (for images)</h3>
<div class="wrap">
    <div class="docsource">
        <div class="row">
            <div class="col-md-4">
                <div class="card box">
                    <img src="/images/house.jpg">
                    <div class="content">
                        <h4>Hey there</h4>
                        <p>
                            Quis sit libero debitis atque voluptate nihil consequatur nostrum. Non assumenda maxime et repudiandae tenetur quisquam numquam sint. Autem odio quo eaque incidunt.…</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card box">
                    <img src="/images/house2.jpg">
                    <div class="content">
                        <h4>Checkout these</h4>
                        <p>
                            Quis sit libero debitis atque voluptate nihil consequatur nostrum. Non assumenda maxime et repudiandae tenetur quisquam numquam sint. Autem odio quo eaque incidunt.…</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card box">
                    <img src="/images/house3.jpg">
                    <div class="content">
                        <h4>Cool houses</h4>
                        <p>
                            Quis sit libero debitis atque voluptate nihil consequatur nostrum. Non assumenda maxime et repudiandae tenetur quisquam numquam sint. Autem odio quo eaque incidunt.…</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>.card<b>.big</b> (more padding)</h3>
        <div class="wrap">
            <div class="docsource">
                <div class="card big">
                    <h4>Sample of card</h4>
                    <p>
                        Quis sit libero debitis atque voluptate nihil consequatur nostrum. Non assumenda maxime et repudiandae tenetur quisquam numquam sint. Autem odio quo eaque incidunt.…</p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6">

        <h3>.card<b>.small</b> (less padding)</h3>
        <div class="wrap">
            <div class="docsource">
                <div class="card small">
                    <h4>Sample of card</h4>
                    <p>
                        Quis sit libero debitis atque voluptate nihil consequatur nostrum. Non assumenda maxime et repudiandae tenetur quisquam numquam sint. Autem odio quo eaque incidunt.…</p>
                </div>
            </div>
        </div>
    </div>
</div>




<h3>.card<b>.[color]</b> (see <a href="/colors">colors</a>)</h3>

<div class="wrap">
    <div class="docsource">
        <div class="col-md-4">
            <div class="card cyan">
                <h4>Sample of card</h4>
                <p>
                    Quis sit libero debitis atque voluptate nihil consequatur nostrum. Non assumenda maxime et repudiandae tenetur quisquam numquam sint. Autem odio quo eaque incidunt.…</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card red">
                <h4>Sample of card</h4>
                <p>
                    Quis sit libero debitis atque voluptate nihil consequatur nostrum. Non assumenda maxime et repudiandae tenetur quisquam numquam sint. Autem odio quo eaque incidunt.…</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card blue">
                <h4>Sample of card</h4>
                <p>
                    Quis sit libero debitis atque voluptate nihil consequatur nostrum. Non assumenda maxime et repudiandae tenetur quisquam numquam sint. Autem odio quo eaque incidunt.…</p>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>
