<style>
    .col-md-3 div div {
        padding: 24px;
        font-weight: bold;
    }

    .col-md-4 div div div {
        padding: 80px 12px;
        font-weight: bold;
    }

    .sourcecode {
        padding: 8px 12px!important;
    }

    .docsource {
        padding: 0;
    }

    pre {
        margin-top: 0!important;
        margin-bottom: 16px!important;
    }
</style>

<h1 class="bold">Colors & Patterns</h1>

<h3>Colors</h3>

<div class="row">
    <div class="col-md-3 center">
        <div class="docsource">
            <div class="red">red</div>
        </div>
    </div>


    <div class="col-md-3 center">
        <div class="docsource">
            <div class="orange">orange</div>
        </div>
    </div>


    <div class="col-md-3 center">
        <div class="docsource">
            <div class="yellow">yellow</div>
        </div>
    </div>
    <div class="col-md-3 center">
        <div class="docsource">
            <div class="lime">lime</div>
        </div>
    </div>

    <div class="col-md-3 center">
        <div class="docsource">
            <div class="green">green</div>
        </div>
    </div>

    <div class="col-md-3 center">
        <div class="docsource">
            <div class="cyan">cyan</div>
        </div>
    </div>

    <div class="col-md-3 center">
        <div class="docsource">
            <div class="blue">blue</div>
        </div>
    </div>

    <div class="col-md-3 center">
        <div class="docsource">
            <div class="indigo">indigo</div>
        </div>
    </div>

    <div class="col-md-3 center">
        <div class="docsource">
            <div class="purple">purple</div>
        </div>
    </div>

    <div class="col-md-3 center">
        <div class="docsource">
            <div class="pink">pink</div>
        </div>
    </div>

    <div class="clear"></div>
</div>
<br />

<div class="col-md-3 center">
    <div class="docsource">
        <div class="darkred">darkred</div>
    </div>
</div>

<div class="col-md-3 center">
    <div class="docsource">
        <div class="darkyellow">darkyellow</div>
    </div>
</div>

<div class="col-md-3 center">
    <div class="docsource">
        <div class="darkgreen">darkgreen</div>
    </div>
</div>

<div class="col-md-3 center">
    <div class="docsource">
        <div class="darkblue">darkblue</div>
    </div>
</div>

<div class="col-md-3 center">
    <div class="docsource">
        <div class="darkpurple">darkpurple</div>
    </div>
</div>

<div class="clear"></div>

<br />

<div class="col-md-3 center">
    <div class="docsource">
        <div class="grey">grey</div>
    </div>
</div>

<div class="col-md-3 center">
    <div class="docsource">
        <div class="black">black</div>
    </div>
</div>


<div class="col-md-3 center">
    <div class="docsource">
        <div class="white">white</div>
    </div>
</div>

<div class="clear"></div>

<hr />
<h3>Patterns</h3>
<div class="row">

    <div class="col-md-4 center">
        <div class="docsource">
            <div class="dark">
                <div class="dots">dots</div>
            </div>
        </div>
    </div>

    <div class="col-md-4 center">
        <div class="docsource">
            <div class="blue">
                <div class="blueprint">blueprint</div>
            </div>
        </div>
    </div>

    <div class="col-md-4 center">
        <div class="docsource">
            <div class="darkyellow">
                <div class="lines">lines</div>
            </div>
        </div>
    </div>




    <div class="clear"></div>
</div>
