<h1 class="bold">Height</h1>


<h3>Full Height</h3>
<p>Use <b>fullheight</b> to create a element with the viewport's height. A height of 768px (average browser height) is defined as fallback for browsers that don't support html5(hv unit).
</p>
<div class="center">
    <div class="docsource">

        <div class="fullheight dark">
            <h3 class="acenter" style="margin-top:-40px;">Hello I'm a fullheight div</h3>
        </div>

    </div>
</div>

<h3>Full Height with background</h3>
<p>Set a background on <b>fullheight</b> and use with <b>overlay</b> to create a stunning full-height div with background and overlay.

    <div class="center">
        <div class="docsource">

            <div class="fullheight" style="background:url('/images/house.jpg') center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                <div class="overlay">
                    <div class="acenter" style="margin-top:-40px;">
                        <h3>Hello I'm a cool house</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
