<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/architect.css' />

    <!-- DOCS ONLY -->
    <link rel='stylesheet' href='/stylesheets/docsonly.css' />
    <link rel='stylesheet' href='/prism/prism.css' />
    <!-- DOCS ONLY -->

</head>

<body>
    <div id="sidemenu1" class="ftop">

        <div class="menu">

            <div class="blue">
                <div class="blueprint html big">
                    <h2>Architect.css</h2>
                    <p>Utility classes for positioning, colors and cards. Use with <a href="https://getbootstrap.com/docs/3.3/getting-started/" target="_blank">bootstrap 3.3.7</a>.</p>
                    <div class="margin no-lmargin no-bmargin">
                        <a class="btn btn-lg btn-default btn-outline" href="/download">Download</a>
                    </div>
                </div>
            </div>

            <div class="center html small">

                <ul class="nav" style="
            text-align: left;
        ">
                    <li class="active">
                        <a href="/positioning">
        							<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Positioning</a>
                    </li>
                    <li>
                        <a href="/full-height">
        							<span class="glyphicon glyphicon-file" aria-hidden="true"></span> Full-height</a>
                    </li>

                    <li>
                        <a href="/cards">
        							<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Cards</a>
                    </li>
                    <li>
                        <a href="/animations">
        							<span class="spinner"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></span> Animations</a>
                    </li>
                    <li>
                        <a href="/colors">
        							<span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Colors and patterns</a>
                    </li>


                </ul>
            </div>

        </div>

    </div>


    <div id="containerwrap" class="container">
        <div id="contentwrap" class="card big">
            <div class="blueprint">
            {{{body}}}
        </div>
        </div>
    </div>

    <div class="container">
        <div class="margin no-smargin">
            <div class="html center huge" style="text-align:right;color:white;">
                <h3>Architect.css</h3>
                <div>Made with
                    <3 in <span style="border-bottom: 2px solid red;padding-bottom: 2px;"><span style="border-bottom: 2px solid white;padding-bottom: 4px;"><span style="border-bottom: 2px solid blue;padding-bottom: 6px;">
  The Netherlands
</span></span>
                        </span>
                </div>

            </div>
        </div>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- DOCS ONLY -->
    <script src="/prism/prism.js"></script>
    <script src="/javascripts/docsonly.js"></script>
    <!-- DOCS ONLY -->

</body>

</html>
