<style>
.col.four {
  text-align: center;

}
.col.four .tag {
  margin:16px;
}
</style>

<h1 class="bold">Tags</h1>
<p>Use tags to notify users of their activity.</p>

<div class="docsource">
<div class="tag" href="#"><strong>Default!</strong> This is a sample of an tag box</div>

<div class="tag success" href="#"><strong>Success!</strong> This is a sample of an tag box</div>

<div class="tag warning" href="#"><strong>Warning!</strong> This is a sample of an tag box</div>

<div class="tag info" href="#"><strong>Info!</strong> This is a sample of an tag box</div>

<div class="tag error" href="#"><strong>Error!</strong> This is a sample of an tag box</div>

<div class="tag dark" href="#"><strong>Dark!</strong> This is a sample of an tag box</div>

</div>

<br /><br />

<h3>Alerts with links</h3>

<div class="docsource">
<div class="tag" href="#"><strong>Default!</strong> This is a sample of an tag box, <a href="#">read my message (1)</a></div>

<div class="tag success" href="#"><strong>Success!</strong> This is a sample of an tag box, <a href="#">read my message (1)</a></div>

<div class="tag warning" href="#"><strong>Warning!</strong> This is a sample of an tag box, <a href="#">read my message (1)</a></div>

<div class="tag info" href="#"><strong>Info!</strong> This is a sample of an tag box, <a href="#">read my message (1)</a></div>

<div class="tag error" href="#"><strong>Error!</strong> This is a sample of an tag box, <a href="#">read my message (1)</a></div>

<div class="tag dark" href="#"><strong>Dark!</strong> This is a sample of an tag box, <a href="#">read my message (1)</a></div>

</div>

<br /><br />


<h3>Examples Transparent: <b>transparent</b></h3>

  <div class="docsource">

<div class="tag transparent" href="#"><strong>Default!</strong> This is a sample of an tag box</div>

<div class="tag success transparent" href="#"><strong>Success!</strong> This is a sample of an tag box</div>

<div class="tag warning transparent" href="#"><strong>Warning!</strong> This is a sample of an tag box</div>

<div class="tag info transparent" href="#"><strong>Info!</strong> This is a sample of an tag box</div>

<div class="tag error transparent" href="#"><strong>Error!</strong> This is a sample of an tag box</div>

<div class="tag dark transparent" href="#"><strong>Dark!</strong> This is a sample of an tag box</div>


</div>

<br /><br />

<h3>Examples Custom <a href="/colors">Colors</a>: <b>custom</b> <b>[color]</b></h3>
<p>All defined colors <a href="/colors">here</a> are supported.</p>
<div class="docsource">

<div class="tag custom orange" href="#"><strong>Orange!</strong> This is a sample of an tag box</div>

<div class="tag custom lime" href="#"><strong>Lime!</strong> This is a sample of an tag box</div>

<div class="tag custom cyan" href="#"><strong>Cyan!</strong> This is a sample of an tag box</div>

<div class="tag custom indigo" href="#"><strong>Indigo!</strong> This is a sample of an tag box</div>

<div class="tag custom purple" href="#"><strong>Purple!</strong> This is a sample of an tag box</div>

<div class="tag custom pink" href="#"><strong>Pink!</strong> This is a sample of an tag box</div>

  </div>
